services:
    router: App\RouterFactory::createRouter

    - App\Models\Authenticator
    - App\Models\UserModel
    - App\Models\ProjectModel
    - App\Models\CredentialModel
    - App\Models\WorkerModel
    - App\Models\BuildStepModel
    - App\Models\BuildModel
