
general:
    title: "Anveena 2.0"
    subtitle: "Developer's helper"

menu:
    dashboard: "Dashboard"
    projects: "Projects"
    projects_sub:
        list: "Project list"
        new: "New project"
    credentials: "Credentials"
    configurations: "Configurations"
    logout: "Logout"

section:
    project_list: "Project list"
    project_new: "New project"
    project_edit: "Edit project"
    project_edit_build: "Project build steps"
    credentials_list: "Credentials"
    configurations_list: "Configurations"

sign:
    in:
        title: "Sign in"
        username: "Username"
        password: "Password"
        submit: "Login"
        username_must_be: "Enter your username!"
        password_must_be: "Enter your password!"
        invalid_credentials: "Invalid username or password!"

project:
    form:
        name: "Project name"
        name_must_be: "Specify project name!"
        name_already_exists: "Project with this name already exists!"
        description: "Project description (optional)"
        repository_type: "Repository type"
        repository_url: "Repository URL"
        repository_url_must_be: "Specify repository URL!"
        repository_branch: "Branch"
        submit: "Save"
        no_such_project: "No such project found"
    list:
        title: "Projects"
        empty: "No projects have been specified"
        notbuilt: "This project hasn't been built yet"
        build_progress: "Build is in progress"
        build_success: "Last build was successfull"
        build_warning: "Last build was successfull, but with warnings"
        build_fail: "Last build failed"
        build_number: "Current build number"
        build: "Build project"
        edit: "Edit project"
        editbuild: "Edit build steps"
        delete: "Delete project"
        delete_modal_title: "Confirm delete"
        delete_modal_body_1: "Do you really want to delete project '"
        delete_modal_body_2: "'?"
        delete_cancel: "Cancel"
        delete_confirm: "Delete project"

credential:
    list:
        empty: "No credentials have been specified"
        add: "Add credentials"
        edit_title: "Edit credential"
        type: "Type"
        username: "Username"
        delete_modal_title: "Confirm delete"
        delete_modal_body_1: "Do you really want to delete credential '"
        delete_modal_body_2: "'?"
        delete_cancel: "Cancel"
        delete_confirm: "Delete credential"
    form:
        identifier: "Global identifier"
        identifier_must_be: "Identifier must be specified!"
        type: "Credential type"
        username: "Username (if required)"
        auth_ref: "Password, key or token"
        auth_ref_must_be: "Authentication part must be specified!"
        edit_cancel: "Cancel"
        submit: "Save"

buildsteps:
    add: "Add build step"
    edit: "Edit step"
    move_up: "Move step up"
    move_down: "Move step down"
    delete: "Delete step"
    delete_modal_title: "Confirm step delete"
    delete_modal_body_1: "Do you really want to delete build step "
    delete_modal_body_2: "?"
    delete_cancel: "Cancel"
    delete_confirm: "Delete step"
    step:
        dummy: "Dummy step"
        clone_repository: "Clone repository"
        composer: "Run composer"
        upload_ftp: "Upload to FTP"
        notify_build_status: "Notify user about build status"
        prepare_config: "Prepare config"
    form:
        type: "Task type"
        credentials: "Used credentials"
        credentials_prompt: "No credentials"
        project_ref: "Referenced project"
        projects_prompt: "- Choose referenced project -"
        user_ref: "Referenced user"
        users_prompt: "- Choose referenced user -"
        configuration_ref: "Referenced configuration"
        configurations_prompt: "- Choose configuration -"
        submit: "Save"

        additional_source_file: "Source file"
        additional_target_file: "Target file"
        additional_ftp_host: "FTP host"
        additional_ftp_directory: "Target subdirectory"
        additional_consider_successful: "Consider build successful at this point"

configuration:
    list:
        add: "Add configuration"
        empty: "No configurations have been specified"
        edit_title: "Edit configuration"
        delete_modal_title: "Delete configuration"
        delete_modal_body_1: "Do you really want to delete configuration '"
        delete_modal_body_2: "'?"
        delete_cancel: "Cancel"
        delete_confirm: "Delete configuration"
    form:
        identifier: "Configuration identifier"
        identifier_must_be: "Identifier must be specified"
        configuration: "Configuration contents"
        submit: "Save"
        edit_cancel: "Cancel"