
general:
    title: "Anveena 2.0"
    subtitle: "Developer's helper"

menu:
    dashboard: "Dashboard"
    projects: "Projects"
    projects_sub:
        list: "Project list"
        new: "New project"
    credentials: "Credentials"
    logout: "Logout"

section:
    project_list: "Project list"
    project_new: "New project"
    project_edit: "Edit project"
    credentials_list: "Credentials"

sign:
    in:
        title: "Sign in"
        username: "Username"
        password: "Password"
        submit: "Login"
        username_must_be: "Enter your username!"
        password_must_be: "Enter your password!"
        invalid_credentials: "Invalid username or password!"

project:
    form:
        name: "Project name"
        name_must_be: "Specify project name!"
        name_already_exists: "Project with this name already exists!"
        description: "Project description (optional)"
        repository_type: "Repository type"
        repository_url: "Repository URL"
        repository_url_must_be: "Specify repository URL!"
        repository_branch: "Branch"
        submit: "Save"
        no_such_project: "No such project found"
    list:
        title: "Projects"
        empty: "No projects have been specified"
        notbuilt: "This project hasn't been built yet"
        build_success: "Last build was successfull"
        build_warning: "Last build was successfull, but with warnings"
        build_fail: "Last build failed"
        build_number: "Current build number"
        build: "Build project"
        edit: "Edit project"
        delete: "Delete project"
        delete_modal_title: "Confirm delete"
        delete_modal_body_1: "Do you really want to delete project '"
        delete_modal_body_2: "'?"
        delete_cancel: "Cancel"
        delete_confirm: "Delete project"

credential:
    list:
        empty: "No credentials have been specified"
        add: "Add credentials"
        edit_title: "Edit credential"
        type: "Type"
        username: "Username"
        delete_modal_title: "Confirm delete"
        delete_modal_body_1: "Do you really want to delete credential '"
        delete_modal_body_2: "'?"
        delete_cancel: "Cancel"
        delete_confirm: "Delete credential"
    form:
        identifier: "Global identifier"
        identifier_must_be: "Identifier must be specified!"
        type: "Credential type"
        username: "Username (if required)"
        auth_ref: "Password, key or token"
        auth_ref_must_be: "Autentication part must be specified!"
        edit_cancel: "Cancel"
        submit: "Save"
